.missaoValores_card
{
    background-color:   #e7e9ed;
    padding: 2rem;
    border-radius: 15%;
}
.missaoValores_subText
{
    font-size: 1.5rem;
    text-align: justify;
}
.missaoValores_Text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}