.missaoValores_card {
    background-color: #e7e9ed;
    padding: 2rem;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.missaoValores_subText {
    font-size: 1.3rem;
    text-align: justify;
}

.missaoValores_Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px){
    .missaoValores_card img{
        max-width: 80%;
        max-height: 80%;
    }
}

