#projetos{
    background-image: url(../img/FundoSite2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#projetos__carrosel-bg{
    width: 100%;
}

.carousel-body{
    min-height: 90vh;
    flex-direction: column;
    gap: 20px;
}

.carousel-content{
    flex-direction: row;
}