#NossaHistoria{
    display: flex;
    min-height: calc(40vh - 92px);
    width: 100%;
    position: relative;
    margin: auto;
    padding: 28px 8%;
    background-image: url(../img/teste.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#SobreNosCarrosel
{
    flex-direction: column;
}

@media screen and (max-width: 1200px){
    #NossaHistoria{
        background-image: none;
    }
}